/* 
스토리 페이지에 인터랙션 주기
스토리 흐름에 따라 배경 변화
스크롤하면 배경 변화되도록
깜깜한 밤에서 불빛이 환한 선셋빌리지의 오두막 내부로
*/

#question-page, #result-page {
  display: none;
}

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #2A2939;
  font-family: 'LeeSeoyun';
}

/* 스토리 페이지 */

#story-page {
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 25px;
  margin: 0 auto;
  border: 20px;
  margin-top: 50px;
  padding: 20px 20px 40px 20px;
}

#story-page > h1 {
  font-size: 40px;
  color: #FCBB43;
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  margin-top: 20px;
}

#story-page > .thumbnail {
  
  width: 300px;
}

#story-page > p {
  font-size: 20px;
  line-height: 150%;
}

#story-page > button {
  font-size: 20px;
  padding: 10px 15px;
  background-color: #DB4640;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: 'LeeSeoyun';
  transition-duration: 1s;
  margin-top: 20px;
}

#story-page > button:hover {
  transform: translateY(-15px);
}

/* 문제 페이지 */

#question-page {
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 25px;
  margin: 0 auto;
  border: 20px;
  margin-top: 50px;
  padding: 20px 20px 40px 20px;
}

.questionBox {
  /* background-color: #e7f67f; */
  text-align: center;
  border-radius: 25px;
  font-size: 26px;
  font-weight: 600;
  /* border: 2px solid black; */
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.answerList{
  background-color: #62ad87;
  display: block;
  width: 100%;
  font-size: 24px;
  border-radius: 50px;
  /* border: 3px solid #DB4640; */
  /* border: none; */
  border: 7px dotted #DB4640;
  margin-top: 18px;
  padding: 15px;
  font-family: 'LeeSeoyun';
}

.answerList:hover, .answerList:focus{
  background-color: #047360;
  color: whitesmoke;
}

.status{
  height: 20px;
  border-radius: 25px;
  width: 80%;
  background-color: rgb(228, 227, 227);
  text-align: center;
  /* border: 1px solid rgb(114, 101, 80); */
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button-back {
  margin-right: 90%;
  margin-bottom: 10px;
}

.button-back > button {
  font-size: 20px;
  color: white;
  background-color: #62ad87;
  border: none;
  padding: 5px 10px;
  border-radius: 100px;
}

.statusBar{
  height: 100%;
  border-radius: 25px;
  background-color: #DB4640;
}

.statusText {
  font-size: 16px;
  margin-left: 75%;
  margin-bottom: 5px;
  color: #717070;
}

/* 결과 페이지 */

#result-page {
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 25px;
  margin: 0 auto;
  border: 20px;
  margin-top: 50px;
  padding: 20px 20px 40px 20px;
}

#result-page > h1 {
  font-size: 40px;
}

#resultImg{
  width: auto;
  height: auto;
}

#result-page > #button-restart > button {
  font-size: 20px;
  padding: 10px 40px;
  background-color: #62ad87;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: 'LeeSeoyun';
  margin-top: 20px;
}

#result-page > #button-follow > button {
  font-size: 20px;
  padding: 10px 15px;
  background-color: #DB4640;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: 'LeeSeoyun';
  margin-top: 40px;
}

/* 푸터 텍스트 */

#footer {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#footer > h3 {
  color: white;
}

#footer > a {
  width: 200px;
}